body {
    margin: 0;
    font-family: "Hiragino Maru Gothic ProN";
}

/*％使うなら必須。widthやheightなどをpaddingやborder混みの％にする表記*/
* {
    box-sizing: border-box;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;

}

.navTexts {
    text-align: right;
    padding: 12.5px 0;

}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 25px;
}

/*JSによって動的に与えるClass*/
.SelectOfThis {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: 0 25px;
    border-bottom: 1.5px solid #eee;

}


/*AboutMe*/

.About {
    padding-top: 50px;
    height: 500px;
    width: 100%;
    text-align: center;
}

.About h2 {
    font-weight: normal;
    letter-spacing: 3px;
    color: #5f5d60;
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-left: 37.5%;
    width: 25%;

}

.About p {
    font-weight: normal;
    color: #5f5d60;
}

.AboutText {
    padding: 25px;
}

.AboutInfomation {
    line-height: 1;
    padding-bottom: 10px;
}



/*アイコンの背景*/
.Icons {
    height: 400px;
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
}

.Text {
    padding-top: 40px;
    color: #5f5d60;
    text-align: center;
}

.Text h2 {

    border-bottom: 2px solid #eee;
    font-weight: normal;
    letter-spacing: 3px;
    margin-left: 37.5%;
    width: 25%;

}

/*アイコンのDIV*/
.IconsContainer {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;

}

.ImageIcons {
    height: 250px;
    width: 33.3%;
    position: relative;
}

.ImageIcons a {
    top: 45.5%;
    width: 100%;
    left: 0%;
    position: absolute;
    color: #3d3c47;
}

.ImageIcons img {
    height: 250px;
    width: 250px;
}

/*プログラム言語アイコンのCSS*/

.Languages {
    padding-top: 50px;
    height: 700px;
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;

}

.ChildIcons {
    top: 30%;
    width: 100%;
    left: 0%;
    position: absolute;
}

.ChildIcons img {
    opacity: 0.7;
    width: 100px;
    height: 100px;
}

.unity {
    top: 30%;
    width: 100%;
    right: 2%;
    position: absolute;

}

.unity img {
    opacity: 0.7;
    width: 100px;
    height: 100px;
}

/*ポートフォリオのCSS*/
.Portfolio {
    padding-top: 50px;
    height: 500px;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;

}

.PChildIcons {
    top: 25%;
    width: 100%;
    left: 0%;
    position: absolute;
}

.PChildIcons img {
    opacity: 0.9;
    width: 125px;
    height: 125px;
}

.Desc {
    flex-direction: column;
    margin: auto;
    margin-left: 50px;
    color: #5f5d60;

}

.Desc a {
    color: #3d3c47;
}



/*footer*/
.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;


}

.footer p {
    text-align: center;
    color: #b3aeb5;
    font-size: 16px;
}


/* スマホで見た時の表示*/
@media (max-width:790px) {

    /*TOP*/

    .Icons {
        height: 850px;
        width: 100%;
        background-color: #f7f7f7;
        text-align: center;
    }

    .IconsContainer {
        flex-direction: column;
    }

    /*Experience*/

    .Languages {
        height: 1800px;
        width: 100%;
        background-color: #f7f7f7;
        text-align: center;
    }

    .ImageIcons {
        margin: 0 auto;
        width: 100%;
    }

    .PImageIcons {
        margin: 0 auto;
        width: 100%;
    }

    /*Portfolio*/
    .Portfolio {
        padding-top: 50px;
        height: 700px;
        width: 100%;
        text-align: center;
        background-color: #f7f7f7;

    }

    .PChildIcons {
        top: 25%;
        width: 100%;
        left: 0%;
        position: absolute;
    }

    .PChildIcons img {
        opacity: 0.9;
        width: 125px;
        height: 125px;
    }

    .Desc {
        flex-direction: column;
        margin: auto;
        font-size: 14px;
        color: #5f5d60;

    }


}

@media (max-width:540px) {

    .navTexts {
        text-align: center;
        padding: 12.5px 0;

    }

    .navbar a {
        text-decoration: none;
        font-size: 16px;
        color: white;
        margin: 0 20px;
    }

    .About {
        padding-top: 50px;
        height: 400px;
        width: 100%;
        text-align: center;
    }

    .Text h2 {

        border-bottom: 2px solid #eee;
        font-weight: normal;
        letter-spacing: 3px;
        margin-left: 37.5%;
        font-size: 15px;
        width: 25%;

    }

    .About p {
        font-size: 13px;
        font-weight: normal;
        color: #5f5d60;
    }

    .Desc {
        flex-direction: column;
        margin: auto;
        font-size: 13px;
        color: #5f5d60;

    }

    .footer p {
        text-align: center;
        color: #b3aeb5;
        font-size: 15px;
    }
}

@media (max-width:360px) {

    .navTexts {
        text-align: center;
        padding: 12.5px 0;

    }

    .navbar a {
        text-decoration: none;
        font-size: 15px;
        color: white;
        margin: 0 15px;
    }


    .About {
        padding-top: 50px;
        height: 450px;
        width: 100%;
        text-align: center;
    }

    .footer p {
        text-align: center;
        color: #b3aeb5;
        font-size: 14px;
    }
}